DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PoRT
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME
DB_SSLMODE=disable
PORT = 3000
JWT_SECRET = YOUR_SECRET
JWT_EXPIRY_HOURS = 12
ADMIN_KEY=admin
API_KEY=your_RESEND_API_KEY